// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;700;900&display=swap');

/*General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
